@*<h3>Grid de usuarios</h3>*@

@*@inherits ListUserBase*@
@using WebServiceApiRest.Models
@using UserBlazorApp.Services;

<SfGrid DataSource="Users" AllowSorting="true" EnablePersistence="true">
    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
    <GridEditSettings NewRowPosition="NewRowPosition.Bottom"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(User.id)" HeaderText="ID" Width="10">
        </GridColumn>
        <GridColumn Field="@nameof(User.name)" HeaderText="Name" Width="30">
        </GridColumn>
        <GridColumn Field="@nameof(User.password)" HeaderText="Pass" Width="30">
        </GridColumn>
    </GridColumns>
</SfGrid>

@code {
    [Inject]
    public IServiceUser ServiceUser { get; set; }
    public IEnumerable<User> Users { get; set; }
    public IEnumerable<User> SelectedUsers { get; set; }

    [Parameter]
    public int Id { get; set; }
    private int _id { get; set; }
    //protected override async Task OnInitializedAsync()
    //{

    //}

    protected override async Task OnParametersSetAsync()
    {
        await getUsers(Id);
        await base.OnParametersSetAsync();
    }

    public async Task getUsers(int idCode)
    {
        if (Id == 0)
        {
            Users = (await ServiceUser.DameUsers()).ToList();
        }
        else
        {
            Users = (await ServiceUser.DameUser(Id)).ToList();
        }
    }
}
