@using WebServiceApiRest.Models

<SfGrid DataSource="ldocumento" Height="100%">
    <GridPageSettings PageSize="1000"></GridPageSettings>
    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
    <GridEditSettings NewRowPosition="NewRowPosition.Bottom"></GridEditSettings>
    <GridTemplates>
        <EmptyRecordTemplate>
            <span></span>
        </EmptyRecordTemplate>
    </GridTemplates>
    <GridEvents RowSelected="RowSelectHandler" TValue="Ldocumentos"></GridEvents>
    <GridColumns>
        <GridColumn Field="@(nameof(Ldocumentos.ldoc_cantidad))" AutoFit="true" />
        <GridColumn Field="@(nameof(Ldocumentos.ldoc_descripcion))" Width="90%" />
    </GridColumns>
</SfGrid>

@code {
    [Parameter]
    public EventCallback<Ldocumentos> ldocumentoToIndex { get; set; }

    [Parameter]
    public IEnumerable<Documentos> documento { get; set; }
    public IEnumerable<Ldocumentos> ldocumento { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    await getHeight();
    //}

    //OnParametersSetAsync se ejecuta al iniciar el componente o cada vez que se actualiza su estado
    protected override async Task OnParametersSetAsync()
    {
        // si el documento no está vacío, obtiene cada línea del documento
        if (documento != null)
        {
            await getDocumentos(documento);
        }
        else
        {
            // si el documento está vacío, obtiene las líneas de un objeto vacío con la intención de "limpiar" el grid
            await getDocumentos(null);
        }
        await base.OnParametersSetAsync();
    }

    public async Task getDocumentos(IEnumerable<Documentos> documentoCode)
    {
        // si el argumento que recibe el método no está vacío, lo recorre para asignar los datos a ldocumento
        if (documentoCode != null)
        {
            foreach (var doc in documentoCode)
            {
                ldocumento = doc.listdoc;
            }
        } else
        {
            // si getDocumentos ha recibido un argumento vacío, asigna a documento y a las líneas un valor nulo
            ldocumento = null;
            documento = null;
        }

    }

    public void RowSelectHandler(RowSelectEventArgs<Ldocumentos> args)
    {
        var CustomerIDValue = args.Data;
        ldocumentoToIndex.InvokeAsync(CustomerIDValue);
    }
}
