@using WebServiceApiRest.Models

@* Grid es el componente en el que se muestra los artículos de la mesa. En él, además de
    visualizar, podemos clicar entre las líneas para poder eliminarlas o modificarlas. Cada vez
    que se actualice el documento con nuevas líneas o estas se borren, los cambios se verán reflejados aquí*@

<SfGrid DataSource="ldocumento" Height="100%">
    <GridPageSettings PageSize="1000"></GridPageSettings>
    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
    <GridEditSettings NewRowPosition="NewRowPosition.Top"></GridEditSettings>
    <GridTemplates>
        <EmptyRecordTemplate>
            <span></span>
        </EmptyRecordTemplate>
    </GridTemplates>
    <GridEvents RowDeselected="RowDeselectHandler" RowSelected="RowSelectHandler" TValue="Ldocumentos"></GridEvents>
    <GridColumns>
        <GridColumn Field="@(nameof(Ldocumentos.ldoc_cantidad))" AutoFit="true" />
        <GridColumn Field="@(nameof(Ldocumentos.ldoc_descripcion))" Width="90%" />
    </GridColumns>
</SfGrid>

@code {
    // instancia de ldocumentos que es enviado a Index (para que este pueda tratar con él)
    [Parameter]
    public EventCallback<Ldocumentos> ldocumentoToIndex { get; set; }
    // recibe de Index el documento (pedido de la mesa) para poder visualizarlo
    [Parameter]
    public IEnumerable<Documentos> documento { get; set; }
    // linea del documento recibido
    public IEnumerable<Ldocumentos> ldocumento { get; set; }

    //OnParametersSetAsync se ejecuta al iniciar el componente o cada vez que se actualiza su estado
    protected override async Task OnParametersSetAsync()
    {
        // si el documento no está vacío, obtiene cada línea del documento
        if (documento != null)
        {
            await getDocumentos(documento);
        }
        else
        {
            // si el documento está vacío, obtiene las líneas de un objeto vacío con la intención de "limpiar" el grid
            await getDocumentos(null);
        }
        await base.OnParametersSetAsync();
    }

    // asigna cada línea a ldocumento para imprimirlo en el grid
    public async Task getDocumentos(IEnumerable<Documentos> documentoCode)
    {
        // si el argumento que recibe el método no está vacío, lo recorre para asignar los datos a ldocumento
        if (documentoCode != null)
        {
            foreach (var doc in documentoCode)
            {
                ldocumento = doc.listdoc;
            }
        }
        else
        {
            // si getDocumentos ha recibido un argumento vacío, asigna a documento y a las líneas un valor nulo
            ldocumento = null;
            documento = null;
        }
    }

    // envía a Index la línea seleccionada
    public void RowSelectHandler(RowSelectEventArgs<Ldocumentos> args)
    {
        var CustomerIDValue = args.Data;
        ldocumentoToIndex.InvokeAsync(CustomerIDValue);
    }

    // borra la línea enviada a Index al deseleccionar
    public void RowDeselectHandler()
    {
        ldocumentoToIndex.InvokeAsync(null);
    }
}
