@*<h3>ListButton</h3>*@
@*@inherits ListUserBase*@
@using WebServiceApiRest.Models;

    @*@if (Users == null)
    {
        <text>Cargando...</text>
    }
    else
    {
        <div class="card-deck" style="justify-content: space-around">
            @foreach (User u in Users)
            {
                <div class="card m-4" style="min-width:18rem; max-width:20%;">
                    <SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="@u.id" @onclick="e => botonClicado(u)">@u.name</SfButton>
                </div>
            }
        </div>
    }*@

    @code {

        public List<User> UsersList { get; set; }

        private async void botonClicado(User user)
        {
            User _user = new User() { name = user.name };

            HttpClient httpClient = new HttpClient();
            var response = await httpClient.PostAsJsonAsync("https://localhost:44327/api/user", _user);

            @*<Grid></Grid>*@
        }
    }
