@using WebServiceApiRest.Models;
@using UserBlazorApp.Services;

@if (Accounts == null)
{
    <text>Cargando...</text>
}
else
{
    @*<div class="card-deck" style="justify-content: space-around">*@
    @foreach (Account ac in Accounts)
    {
        <div class="card m-4" style="min-width:18rem; max-width:20%;">
            <SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="@ac.user_id">@ac.money</SfButton>

        </div>
    }
    @*</div>*@
}

@code {
    [Inject]
    public IServiceAccount ServiceAccount { get; set; }
    public IEnumerable<Account> Accounts { get; set; }
    public IEnumerable<Account> SelectedAccounts { get; set; }

    [Parameter]
    public int Id { get; set; } = -1;
    private int _id { get; set; }
    //protected override async Task OnInitializedAsync()
    //{

    //}

    protected override async Task OnParametersSetAsync()
    {
        await getAccounts(Id);
        await base.OnParametersSetAsync();
    }

    public async Task getAccounts(int idCode)
    {
        if (Id == 0)
        {
            Accounts = (await ServiceAccount.DameAccounts()).ToList();
        }
        else
        {
            Accounts = (await ServiceAccount.DameAccount(Id)).ToList();
        }
    }
}
