@*<h3>ListButtonCategorias</h3>*@

@using UserBlazorApp.components;
@using WebServiceApiRest.Models;
@using WebServiceApiRest.Models.Response;
@using System.Net.Http;
@using System.Net.Http.Json;
@inject HttpClient Http
@if (_isVisible)
{
    @if (CategoriasEnum == null)
    {
        <p>Cargando...</p>
    }
    else
    {
        <div class="contenedorlistbuttons">
            @foreach (Familias_art fam in CategoriasEnum)
            {
                <div class="collistbutton">
                    <button class="listbutton" type="button" href="#" name="@fam.fam_id" @onclick="e => showArticles(fam.fam_id)">@fam.fam_nom</button>
                </div>
            }
        </div>
    }
}

<ListButtonArticulos @ref="listcategories" numFam="@numFam"></ListButtonArticulos>

@code {
    [Parameter]
    public bool buttonCategoriasClicked { get; set; } = false;

    public string Url = "https://localhost:44322";
    Respuesta<List<Familias_art>> oRespuestaCategorias = new Respuesta<List<Familias_art>>();

    public IEnumerable<Familias_art> CategoriasEnum { get; set; }

    private bool _isVisible = false;
    private int numFam;
    ListButtonArticulos listcategories;

    protected override async Task OnInitializedAsync()
    {
        await getCategorias();
    }

    protected override async Task OnParametersSetAsync()
    {
        // cada vez que sus parámetros se actualizan, comprueba la visibilidad del componente.
        // Si es false, lo muestra y asigna numFam a 0 para no visualizar ningún artículo
        if (_isVisible == false)
        {
            _isVisible = !_isVisible;
            numFam = 0;
        }

        //buttonCategoriasClicked = false;
        await base.OnParametersSetAsync();
    }

    public async Task getCategorias()
    {
        oRespuestaCategorias = await Http.GetFromJsonAsync<Respuesta<List<Familias_art>>>(Url + "/api/Familias_art");
        CategoriasEnum = (IEnumerable<Familias_art>)oRespuestaCategorias.Data;
    }

    // oculta la lista de categorías y asigna el número de familia de artículos que se deben mostrar
    private void showArticles(int num)
    {
        _isVisible = !_isVisible;
        numFam = num;
    }
}
