<div class="contenedornumpad">
    <div class="contenedorvisornumpad">
        <label for="visornumpad">Selección de mesa</label>
        <input type="text" id="visornumpad" disabled />
    </div>
    <div class="numpads">
        <div class="row justify-content-md-center rownumpad">
            <div class="col-auto colnumpad">
                <button class="numpadbutton">7</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">8</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">9</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadlargebutton">S</button>
            </div>
        </div>
        <div class="row justify-content-md-center rownumpad">
            <div class="col-auto colnumpad">
                <button class="numpadbutton">4</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">5</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">6</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadlargebutton">PREC</button>
            </div>
        </div>
        <div class="row justify-content-md-center rownumpad">
            <div class="col-auto colnumpad">
                <button class="numpadbutton">1</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">2</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">3</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadlargebutton">A</button>
            </div>
        </div>
        <div class="row justify-content-md-center rownumpad">
            <div class="col-auto colnumpad">
                <button class="numpadbutton">0</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">,</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadbutton">C</button>
            </div>
            <div class="col-auto colnumpad">
                <button class="numpadlargebutton">&#60;&#61;</button>
            </div>
        </div>
    </div>
</div>

@code {

}
