/*le añadimos propiedades a la clase de bootstrap container*/
.container {
    margin: 0 !important;
    padding: 0 !important;
}

/* el componente grid se descuadra al declarar un script en el head de _Host.cshtml. El css aplicado a table lo arregla */
table {
    width: 100% !important;
}

/* contenedor padre de los componentes de la página index*/
.padreindex {
    height: 100vh;
    display: flex; /*visualización del elemento*/
    flex-direction: column;
}

.contenedorgridandmenubuttons {
    display: flex;
}

.contenedorgrid {
    background-color: lightgray;
    width: 60%;
    max-height: 331px;
}

.contenedorvisores {
    display: flex;
    justify-content:flex-end;
}

.visorprecio {
    font-size: 22px;
    border: 2px solid black;
    padding: 0 2%;
    margin-bottom: 0;
}

.contenedormenubuttons {
    width: 40%;
    height: fit-content;
}

.rowmenubuttons {
    margin: 2% 0;
    justify-content: center;
}

.colmenubutton {
    padding: 0 !important;
    margin: 2%;
}

.menubutton {
    background-color: lightgray;
    border-radius: 5px;
    color: black;
    text-align: center;
    font-size: 10px;
    width: 65px;
    height: 65px;
}

.menuimg {
    width: 45px;
}

.categorybutton {
    width: 85px !important;
}

.contenedorlistbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.collistbutton {
    flex-grow: unset !important;
    margin: 0 1%;
    padding: 1% 0;
}

.listbutton {
    border-radius: 5px;
    font-size: 11px;
    margin: 0 2%;
    padding: 0 2% !important;
    width: 89px;
    height: 86px;
}

.footer {
    width: 100%;
    padding: 2% 0;
    margin-top: auto;
    display: flex;
    flex-wrap: wrap;
}

.visormesa {
    text-align: center;
    line-height: normal;
    font-size: 13px;
    width: max-content;
    border: 2px solid black;
    padding: 0 2%;
    margin: auto;
}

.contenedornavbutton {
    margin: 0 auto;
    padding: 0 !important;
}

.navbutton {
    /*height: 4em;*/
    border: 1px solid black;
    border-radius: 5px !important;
    font-size: 13px;
    margin: 0 2%;
    padding: 0 2% !important;
    text-align: center;
    width: 40px;
    height: 40px;
    color: black;
    background-color: lightgray;
}

/* ocultar header del grid*/
.e-grid .e-gridheader .e-columnheader {
    display: none;
}

.contenedornumpad {
    margin: 0 auto;
    padding: 1%;
    border: 1px solid black;
    width: 90%;
}

.contenedornumpadlogin {
    margin: auto;
    padding: 1%;
    border: 1px solid black;
    width: 90%;
}

.contenedorvisornumpad {
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
}

    .contenedorvisornumpad label {
        margin: 0;
        text-align: center;
        font-size: 25px;
        background-color: white;
    }

    .contenedorvisornumpad input {
        margin: 0 10%;
        text-align: center;
        font-size: 20px;
    }

.rownumpad {
    justify-content: center;
}

.colnumpad {
    margin: 3% 1%;
}

.numpadbutton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

.numpadlargebutton {
    width: 100px;
    height: 50px;
    font-size: 30px;
    border-radius: 10px;
}

.formLogin {
    margin-top: 20px;
    font-size: 18px;
}

.rownumpadLogin {
    justify-content: center;
}

.formSelectLoginConfirm {
    text-align: center;
}

.formButtonLoginConfirm {
    display: flex;
    justify-content: flex-end;
}

.buttonLoginConfirm {
    background-color: lightgreen;
    border-radius: 15px;
}

@media (max-width: 360px) {
    .contenedorgrid {
        max-height: 53px;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .contenedorgrid {
        max-height: 358px;
    }

    .contenedorvisornumpad label {
        font-size: 35px;
    }

    .contenedorvisornumpad input {
        font-size: 30px;
    }

    .contenedornumpad {
        width: 75%;
        padding-top: 1%;
    }

    .colnumpad {
        margin: 1%;
    }

    .numpadbutton {
        width: 90px;
        height: 90px;
        font-size: 55px;
    }

    .numpadlargebutton {
        width: 180px;
        height: 90px;
        font-size: 55px;
    }

    .navbutton {
        width: 85px;
        height: 55px;
        font-size: 20px;
    }

    .visormesa {
        font-size: 20px;
    }

    .formLogin {
        margin-top: 20px;
        font-size: 28px;
    }
}

@media (min-width: 1000px) {
    .contenedorgrid {
        max-height: 401px;
    }

    .visorprecio {
        font-size: 35px;
    }

    .rowmenubuttons {
        margin: 0;
    }

    .colmenubutton {
        margin: 1% 5%;
    }

    .menubutton {
        width: 120px;
        height: 80px;
        font-size: 20px;
    }

        .menubutton img {
            width: 55px;
        }

    .categorybutton {
        width: 130px !important;
    }

    .listbutton {
        /*width: 140px;
        height: 140px;
        font-size: 23px;*/
    }

    .footer {
        padding: 1% 0;
    }

    .navbutton {
        width: 115px;
        height: 70px;
        font-size: 25px;
    }

    .visormesa {
        font-size: 35px;
    }

    .contenedorvisornumpad label {
        font-size: 50px;
    }

    .contenedorvisornumpad input {
        font-size: 40px;
    }

    .contenedornumpad {
        width: 65%;
        padding-top: 1%;
    }

    .colnumpad {
        margin: 1% 1%;
    }

    .numpadbutton {
        width: 120px;
        height: 120px;
        font-size: 75px;
    }

    .numpadlargebutton {
        width: 230px;
        height: 120px;
        font-size: 75px;
    }

    .formLogin {
        margin-top: 20px;
        font-size: 35px;
    }
}
