@*fichero raiz del proyecto*@
@page "/"
@*hacemos referencia a los componentes*@
@using UserBlazorApp.components;

<div class="contenedorgridandmenubuttons">
    <div class="contenedorgrid">
        <Grid orden="numNumpad"></Grid>
    </div>
    <div class="contenedormenubuttons">
        <div class="container border">
            <p class="visorprecio">0.00€</p>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton"><img class="menuimg" src="images/deleteLine.png" /></button> @*evitar el ~/*@
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto">
                    <button class="menubutton categorybutton">Categorías</button>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="contenedorlistbuttons">
        <ListButtonUsers></ListButtonUsers>
    </div>*@
@*<ListButton></ListButton>*@
@*<SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="0" @onclick="e => botonClicado(0)">0</SfButton>
    <SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="40" @onclick="e => botonClicado(40)">40</SfButton>*@

@*<SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="26" @onclick="e => botonClicado(26)">26</SfButton>*@

@*llamamos al teclado numérico*@
<Numpad OnClick="obtenerNum"></Numpad>

<footer class="footer">
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Salir</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <p class="visormesa">Mesa nºX</p>
    </div>
</footer>

@code {
    Grid grid;
    private int numNumpad;

    //pasamos -1 para que no muestre ningún registro en el grid
    public int selectedId { get; private set; } = -1;

    //public event System.Action cambiarId;

    //public void asignarId(int nuevoId)
    //{
    //    selectedId = nuevoId;
    //    ExecuteAction();

    //}

    //private void ExecuteAction() => cambiarId?.Invoke();

    private async void botonClicado(int num)
    {
        selectedId = num;

        //await Grid.getDocumentos(selectedId);
    }

    private void obtenerNum(int num)
    {
        numNumpad = num;
    }

}