@page "/"
@using UserBlazorApp.components;

@*  otra manera de utilizar css
        <style>
        body {
            background-color: red;
        }
    </style>*@

<div class="contenedorgridandmenubuttons">
    <div class="contenedorgrid">
        <Grid Id="@selectedId"></Grid>
    </div>
    <div class="contenedormenubuttons">
        <div class="container border">
            <p class="visorprecio">0.00€</p>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton"><img class="menuimg" src="images/deleteLine.png"/></button> @*evitar el ~/*@
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
                <div class="col-auto colmenubutton">
                    <button class="menubutton">Boton</button>
                </div>
            </div>
            <div class="row justify-content-md-center rowmenubuttons">
                <div class="col-auto">
                    <button class="menubutton categorybutton">Categorías</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contenedorlistbuttons">
    <ListButtonUsers></ListButtonUsers>
</div>
@*<ListButton></ListButton>*@
@*<SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="0" @onclick="e => botonClicado(0)">0</SfButton>
    <SfButton type="button" href='#' class="btn btn-primary btn-square-md" name="40" @onclick="e => botonClicado(40)">40</SfButton>*@

<footer class="footer">
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Salir</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <button class="btn btn-primary p-4 rounded-0 navbutton">Boton</button>
    </div>
    <div class="col-auto contenedornavbutton">
        <p class="visormesa">Mesa nºX</p>
    </div>
</footer>

@code {
    Grid grid;

    private int selectedId = -1;

    private void botonClicado(int num)
    {
        selectedId = num;
    }

}