@inherits LayoutComponentBase

@*<div class="sidebar">
    <NavMenu />
</div>*@

<div class="main">

    <div class="content px-4">
        @Body
        <!--Lo que se escriba aquí aparece en todas las páginas-->
        </div>
    </div>
