@inherits LayoutComponentBase

<div class="main">

    <div class="content padreindex">
        @Body
        <!--Lo que se escriba aquí aparece en todas las páginas con este layout asignado-->
        </div>
    </div>
